{{ partial "head.html" . }}
<html>
    <body>
        <main id="content" class="content" role="main">
            {{ partial "header.html" . }}
            <article class="post">
                <header class="post-header">
                    <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Description }}</a></h2>
                </header>
                <section class="post-excerpt">
                    {{ .Content }}
                </section>
                <footer class="post-meta">
                </footer> 
            </article>
        </main>
        {{ partial "footer.html" . }}
    </body>
</html>
