{{ partial "head.html" . }}
<html>
    <body>
        <main id="content" class="content" role="main">
            {{ partial "header.html" . }}
            <article class="post">
                <header class="post-header">
                    <h2 class="post-title"><a href="/{{ .Title }}">{{ .Title }}</a></h2>
                </header>
                <section class="post-excerpt">
                    {{ range where .Data.Pages "Title" "index" }}
                        {{ .Content }}
                    {{ end }}
                </section>
                <footer class="post-meta">
                </footer>
               {{ partial "footer.html" . }}
            </article>
        </main>
        
    </body>
</html>
