{{ partial "head.html" . }}
<html>
    <body>
        {{ partial "sidebar.html" . }}
        <main id="content" class="content" role="main">
            <article class="post">
                <header class="post-header">
                    <h2 class="post-title"><a href="/style-test/">{{ .Title }}</a></h2>
                </header>
                <section class="post-excerpt">
                    {{ range where .Data.Pages "Title" "index" }}
                        {{ .Content }}
                    {{ end }}
                </section>
                <footer class="post-meta">
                </footer> 
            </article>
        </main>
        {{ partial "footer.html" . }}
    </body>
</html>
